<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.wylder.cta" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.TabActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SecondaryListActivity"
            android:label="@string/title_activity_secondary_list"
            android:parentActivityName=".activity.TabActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.wylder.cta.activity.TabActivity" />
        </activity>
        <activity
            android:name=".activity.ArrivalsActivity"
            android:label="@string/title_activity_arrivals" >
        </activity>

        <service
            android:name=".FavoriteService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
